.crucigrama {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	height: 100%;
	user-select: none; /* supported by Chrome and Opera */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
}

.crucigramaPos {
	display: flex;
	background: none;
	/*position: absolute;*/
	border-radius: 15px;
	width: 720px;
	height: 720px;
}

.crucigramaLetra {
	display:flex;
	/*position: absolute;*/
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	text-align: center;
	background: white;
	color: black;
	font-weight: 400;
	width: 50px;
	height: 50px;
}
.tiempo {
	color: white;
	/*position: absolute;*/
	font-family: fantasy;
	width: 67%;
}
.crear {
	text-align: center;
	border: 1px solid black;
	color: white;
	background: none;
	/*position: absolute;*/
	font-family: fantasy;
	width: 33%;
}
.info {
	display:flex;
	/*position: absolute;*/
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
}
.tabla {
	display:flex;
	border: 1px solid white;
	flex-flow: column nowrap;
	background: none;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}
.info {
	display:flex;
	flex-flow: row nowrap;
	align-items: left;
	justify-content: left;
	background: black;
	color: white;
}
.tabla th {
	width: 50%;
}
.tabla td {
	vertical-align: top;
}