.crucigrama {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 80vh;
}

.crucigramaPos {
	display: flex;
	background: none;
	/*position: absolute;*/
	border-radius: 15px;
	width: 720px;
	height: 720px;
	user-select: none; /* supported by Chrome and Opera */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
}

.crucigramaLetra {
	display:flex;
	/*position: absolute;*/
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	text-align: center;
	background: white;
	color: black;
	font-weight: 400;
	width: 50px;
	height: 50px;
}
.tiempo {
	color: white;
	position: absolute;
	font-family: fantasy;
}
.crear {
	text-align: center;
	border: 0.5px solid white;
	color: white;
	position: absolute;
	font-family: fantasy;
	width: 134px;
}
.tabla {
	position: absolute;
	background: black;
	color: white;
}