<div class="crucigrama">
    <div [ngStyle]="{
        'height': (crucigrama.tamanoy/100 * 5) + 'px'
}"></div>
    <div class="crucigramaPos" *ngIf="datos" [ngStyle]="{
        'width': crucigrama.tamanox + 'px',
        'height': crucigrama.tamanoy + 'px'
    }">
        <div *ngFor="let letras of datos; let r = index;">
            <div *ngFor="let letra of letras; let r = index;">
                <div class="crucigramaLetra" (click)="info(letra)"
                [ngStyle]="{
                    'left': letra.posX + 'px',
                    'top': letra.posY + 'px',
                    'width': letra.tamano + 'px',
                    'height': letra.tamano + 'px',
                    'font-size': letra.fontsize + 'px',
                    'background': letra.background,
                    'border-radius': letra.borderRadius + 'px',
                    'border': letra.border + 'px solid ' + letra.bcolor,
                    'box-sizing': 'border-box',
                    'border-width': letra.btop + 'px ' + letra.bright + 'px ' + letra.bbot + 'px ' + letra.bleft + 'px',
                    'color': letra.color,
                    '-webkit-text-stroke': letra.pborde
                    }">
                    <p *ngIf="letra.numero == null && letra.vista">{{letra.valor}}</p>
                    <p *ngIf="letra.numero > 0">{{letra.numero}}</p>
                </div>
            </div>
        </div>
    </div>
    <div [ngStyle]="{
        'height': (crucigrama.tamanoy/100 * 15) + 'px'
}"></div>
    <div class="info" [ngStyle]="{
        'height': (crucigrama.tamanox/100 * 5) + 'px',
        'width': crucigrama.tamanox + 'px',
        'font-size': (crucigrama.fontsize * 0.7) + 'px'
    }">
        <div class="tiempo" [ngStyle]="{

        }">
            Load time: {{tiempoR}}
        </div>
        <div class="crear" (click)="crearTablero()" [ngStyle]="{

        }">
            Crear nuevo tablero
        </div>
    </div>
    <div class="tabla" [ngStyle]="{
        'width': crucigrama.tamanox + 'px',
        'font-size': (crucigrama.fontsize * 0.7) + 'px'
    }">
        <table>
            <tr>
                <th [ngStyle]="{
                    'background': crucigrama.borderC,
                    'height': (crucigrama.tamanox/100 * 5) + 'px'
            
            }">Horizontales</th><th [ngStyle]="{'background': crucigrama.borderC}">Verticales</th>
            </tr>
            <tr>
                <td>
                    <div *ngFor="let p of lista; let r = index;">
                        <p *ngIf="p.orientacion == 1">{{p.numero}}.{{p.definicion}}</p>
                    </div>
                </td>
                <td>
                    <div *ngFor="let p of lista; let r = index;">
                        <p *ngIf="p.orientacion == 0">{{p.numero}}.{{p.definicion}}</p>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>